@font-face {
  font-family: 'Raleway-Bold';
  src: url("../fonts/Raleway-Bold/Raleway-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Bold/Raleway-Bold.woff") format("woff"), url("../fonts/Raleway-Bold/Raleway-Bold.ttf") format("truetype"), url("../fonts/Raleway-Bold/Raleway-Bold.svg#Raleway-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Raleway-Medium';
  src: url("../fonts/Raleway-Medium/Raleway-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Medium/Raleway-Medium.woff") format("woff"), url("../fonts/Raleway-Medium/Raleway-Medium.ttf") format("truetype"), url("../fonts/Raleway-Medium/Raleway-Medium.svg#Raleway-Medium") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Raleway-Regular';
  src: url("../fonts/Raleway-Regular/Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Regular/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular/Raleway-Regular.ttf") format("truetype"), url("../fonts/Raleway-Regular/Raleway-Regular.svg#Raleway-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@media (min-width: 1024px) {
  .container {
    min-width: calc(100% - 120px); }

  .col-md-2ct {
    -ms-flex: 0 0 calc(16.666667% + 25px);
    flex: 0 0 calc(16.666667% + 25px);
    max-width: calc(16.666667% + 25px); }

  .col-md-8ct {
    -ms-flex: 0 0 calc(66.666667% - 50px);
    flex: 0 0 calc(66.666667% - 50px);
    max-width: calc(66.666667% - 50px); } }
@media (max-width: 767px) {
  .col-md-2ct {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }

  .col-md-8ct {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; } }
.bg-blue {
  background: #00aeef; }

.bg-blue2 {
  background: #57caf4; }

.bg-blue3 {
  background: #e5f7fd; }

.ff-bold {
  font-family: 'Raleway-Bold', Arial; }

.ff-medium {
  font-family: 'Raleway-Medium', Arial; }

.ff-regular {
  font-family: 'Raleway-Regular', Arial; }

.fs-10 {
  font-size: 10px; }

.fs-13 {
  font-size: 13px; }

.fs-15 {
  font-size: 15px; }

.fs-18 {
  font-size: 18px; }

.fs-22 {
  font-size: 22px; }

.fs-29 {
  font-size: 25px; }

.fs-34 {
  font-size: 30px; }

.fs-60 {
  font-size: 50px; }

.fs-80 {
  font-size: 70px;
  line-height: 75px; }

.cl-gray {
  color: #58595b; }

.cl-blue {
  color: #00aeef; }

.bg-orange {
  background: #f9aa8e; }

.bg-orange1 {
  background: #feeee8; }

.bg-img {
  position: relative;
  overflow: hidden; }
  .bg-img img {
    position: absolute;
    min-height: 100%;
    object-fit: cover; }

.mb-30 {
  margin-bottom: 30px; }

.col-1p3 {
  width: calc(1 / 3 * 100%);
  float: left; }

.col-2p3 {
  width: calc(2 / 3 * 100%);
  float: left; }

body {
  font-family: 'Raleway-Regular', Arial;
  font-size: 14px; }
  body h1, body h2, body h3, body h4 {
    font-family: 'Raleway-Bold', Arial; }
  body a {
    color: #00aeef;
    text-decoration: none !important;
    outline: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    body a:hover, body a:focus, body a:active {
      text-decoration: none !important;
      outline: none; }
  body .form-control {
    border-radius: 0;
    font-size: 13px;
    border: 1px solid #D0D2D3; }
    body .form-control:focus {
      box-shadow: none; }
    body .form-control.b-bottom {
      border-top: none;
      border-left: none;
      border-right: none; }
  body button:focus {
    box-shadow: none; }
  body .btn {
    border-radius: 0;
    padding: 12px 30px; }
    body .btn:focus {
      box-shadow: none; }
    body .btn.btn-blue {
      background: #00aeef;
      color: #fff; }
    body .btn.btn-white {
      background: #fff;
      border: 1px solid #D0D2D3; }
    body .btn.btn-face {
      background: #475993;
      color: #fff; }
    body .btn.btn-gray {
      background: #58595b;
      color: #fff; }
    body .btn.btn-orange {
      background: #f9aa8e;
      color: #fff; }
    body .btn.btn-sm {
      padding: 8px 15px;
      border: 0; }
  body .border-gray {
    border: 1px solid #D0D2D3; }

#header_site {
  padding: 10px 0;
  background: rgba(0, 0, 0, 0.4); }
  #header_site ul li a {
    color: #fff;
    padding-left: 15px;
    padding-right: 15px; }
  #header_site.bg-gray {
    background: rgba(204, 239, 252, 0.7); }
    #header_site.bg-gray ul li a {
      color: #231f20;
      padding-left: 15px;
      padding-right: 15px; }
  #header_site .menu_user {
    position: relative;
    padding: 0 30px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    #header_site .menu_user:before {
      position: absolute;
      content: "\f0d9";
      font-family: FontAwesome;
      right: 15px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); }
    #header_site .menu_user .sub_menu {
      position: absolute;
      width: 100%;
      top: calc(100% + 30px);
      visibility: hidden;
      opacity: 0;
      left: 0;
      background: #00aeef;
      margin: 0;
      padding: 15px 30px;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
      #header_site .menu_user .sub_menu li {
        margin: 20px 0; }
        #header_site .menu_user .sub_menu li img {
          width: 30px;
          margin-right: 30px; }
        #header_site .menu_user .sub_menu li a {
          padding: 0;
          font-family: 'Raleway-Medium', Arial;
          color: #fff;
          display: block; }
    #header_site .menu_user:hover {
      background: #00aeef;
      color: #fff; }
      #header_site .menu_user:hover .sub_menu {
        top: 100%;
        visibility: visible;
        opacity: 1; }

.loginform {
  position: fixed;
  z-index: 9;
  background: #fff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .loginform.scroll {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%); }

.bg_absolute {
  width: 100%;
  height: 100%;
  position: absolute; }

.slidebanner .item {
  height: 100vh; }
  .slidebanner .item img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .slidebanner .item .meta-content {
    position: absolute;
    color: #fff;
    padding: 0px 60px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5); }
.slidebanner.owl-theme .owl-nav.disabled + .owl-dots {
  position: absolute;
  bottom: 20px;
  right: 15px; }

.project {
  padding: 100px 0;
  background: url("../images/bg.png") repeat-x left center/auto 100%; }

.scroll_down {
  position: absolute;
  bottom: 25px;
  left: 75px;
  z-index: 999;
  font-size: 24px;
  height: 30px;
  width: 30px;
  border: 2px solid #fff;
  text-align: center;
  border-radius: 50%;
  line-height: 30px; }
  .scroll_down a {
    color: #fff; }
  .scroll_down.cl-blue {
    border: 2px solid #00aeef; }
    .scroll_down.cl-blue a {
      color: #00aeef; }

#footer_site {
  background: #FFF;
  background: -moz-linear-gradient(to bottom, #FFF 20%, #61cdf5 100%);
  background: -webkit-linear-gradient(to bottom, #FFF 20%, #61cdf5 100%);
  background: linear-gradient(to bottom, #FFF 20%, #61cdf5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF', endColorstr='#61cdf5', GradientType=1); }
  #footer_site .im_bt img {
    max-width: 50px; }
  #footer_site a {
    color: #000; }
  #footer_site .social a {
    margin: 0 10px; }
  #footer_site .menu_ft a {
    margin: 0 30px; }
  #footer_site .copyright {
    letter-spacing: 2px; }

.chat_online {
  position: fixed;
  bottom: 25px;
  right: 40px;
  width: 60px;
  cursor: pointer;
  z-index: 99; }

.content_dashboard,
.login-content {
  margin-top: 200px;
  margin-bottom: 150px; }

.cover-dashboard {
  padding-top: 200px;
  position: relative;
  padding-bottom: 50px;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2); }
  .cover-dashboard .w20 {
    width: 25px; }
  .cover-dashboard .avatar {
    border: 3px solid #fff;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2); }
  .cover-dashboard .cover-profile {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1; }
    .cover-dashboard .cover-profile img {
      width: 100%;
      height: 100%;
      object-fit: cover; }

.project_list .project_item {
  position: relative; }
  .project_list .project_item .call_action {
    position: absolute;
    top: 30px;
    left: 10px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .project_list .project_item .call_action a {
      color: #fff;
      font-size: 18px;
      padding: 1px 5px;
      text-align: center;
      display: inline-block;
      border-radius: 5px; }
      .project_list .project_item .call_action a.like {
        background: #00aeef; }
      .project_list .project_item .call_action a.mail {
        background: #2e3192; }
      .project_list .project_item .call_action a.upload {
        background: #f9aa8e; }
  .project_list .project_item:hover .call_action {
    visibility: visible;
    top: 10px;
    opacity: 1; }
  .project_list .project_item .project_info {
    position: absolute;
    bottom: 0;
    width: 80%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    background: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; }

.avt_circle {
  position: relative;
  overflow: hidden;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block; }
  .avt_circle.w30 {
    width: 30px;
    height: 30px; }
  .avt_circle img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; }

.progress_bar {
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  top: 79px;
  position: fixed;
  width: 100%;
  z-index: 999; }
  .progress_bar ul {
    display: flex;
    width: 100%;
    padding: 10px 0;
    margin: 0;
    list-style: none;
    font-size: 16px; }
    .progress_bar ul li {
      width: 100%;
      justify-content: center;
      display: flex;
      font-family: 'Raleway-Regular', Arial; }
      .progress_bar ul li.active {
        font-family: 'Raleway-Bold', Arial; }

.step1,
.step2,
.step3 {
  position: relative; }
  .step1.done:before,
  .step2.done:before,
  .step3.done:before {
    position: absolute;
    content: "\f00c";
    font-family: 'FontAwesome';
    right: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #00aeef;
    font-size: 30px; }
  .step1 .invite,
  .step2 .invite,
  .step3 .invite {
    position: absolute;
    right: 15px;
    top: 25px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border: 1px solid #00aeef;
    border-radius: 50%;
    cursor: pointer; }
  .step1 .remove,
  .step2 .remove,
  .step3 .remove {
    position: absolute;
    right: 15px;
    top: 9px;
    width: 20px;
    height: 20px;
    line-height: 16px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 50%;
    cursor: pointer;
    font-family: Raleway-Regular;
    color: #000;
    font-size: 29px; }

.drag-upload {
  position: relative;
  justify-content: center;
  flex-direction: column;
  border-radius: 3px;
  background-color: #fff;
  font-size: 14px;
  color: #000; }
  .drag-upload input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer; }
  .drag-upload .ibenic_file_upload_text {
    background: #eeeeee;
    color: #000;
    padding: 8px 12px;
    border-radius: 0;
    border: 0;
    min-height: 280px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    pointer-events: none; }
    .drag-upload .ibenic_file_upload_text .w20 {
      width: 20px; }

.file-upload {
  position: relative;
  justify-content: center;
  flex-direction: column;
  border-radius: 3px;
  background-color: #fff;
  font-size: 14px;
  color: #000;
  margin: 15px auto; }
  .file-upload input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer; }
  .file-upload .ibenic_file_upload_text {
    display: inline-block;
    background: #58595b;
    color: #fff;
    padding: 8px 12px;
    border-radius: 0;
    border: 0;
    pointer-events: none; }

.img-square {
  position: relative;
  padding-bottom: 100%;
  overflow: hidden; }
  .img-square img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; }

.menu_second .navbar-brand {
  color: #fff;
  margin-right: 40px; }
.menu_second .navbar-nav .nav-link {
  margin: 0 40px 0 0;
  color: #fff; }
  .menu_second .navbar-nav .nav-link:hover {
    font-family: 'Raleway-Bold', Arial; }
.menu_second .navbar-nav .active .nav-link {
  font-family: 'Raleway-Bold', Arial; }

.content-work .left-info {
  padding: 30px 0; }
  .content-work .left-info .accordion h2 {
    position: relative; }
    .content-work .left-info .accordion h2:before {
      position: absolute;
      content: "+";
      font-size: 29px;
      font-family: 'Raleway-Regular',Arial;
      width: 20px;
      height: 20px;
      line-height: 20px;
      right: 15px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      border: 1px solid;
      border-radius: 50%;
      text-align: center; }
  .content-work .left-info ul {
    list-style: none; }
    .content-work .left-info ul li {
      position: relative; }
      .content-work .left-info ul li .remove {
        position: absolute;
        font-size: 29px;
        font-family: 'Raleway-Regular',Arial;
        width: 20px;
        height: 20px;
        line-height: 20px;
        color: #fff;
        right: 15px;
        top: 50%;
        -webkit-transform: translateY(-50%) rotate(45deg);
        -moz-transform: translateY(-50%) rotate(45deg);
        -ms-transform: translateY(-50%) rotate(45deg);
        -o-transform: translateY(-50%) rotate(45deg);
        transform: translateY(-50%) rotate(45deg);
        border: 1px solid #fff;
        border-radius: 50%;
        text-align: center;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        cursor: pointer; }
      .content-work .left-info ul li:hover .remove {
        opacity: 1;
        visibility: visible; }
      .content-work .left-info ul li a:hover {
        color: #fff;
        font-family: "Raleway-Bold", Arial; }
  .content-work .left-info a {
    color: #231f20; }
.content-work .right-info .card-header {
  padding: 0; }
.content-work .right-info .slidesidebar.owl-theme .owl-nav [class*=owl-] {
  background: transparent; }
.content-work .right-info .slidesidebar.owl-theme .owl-nav .owl-prev {
  position: absolute;
  left: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 30px;
  padding: 0;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5); }
.content-work .right-info .slidesidebar.owl-theme .owl-nav .owl-next {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 30px;
  padding: 0;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5); }

.detail_project .content {
  border-bottom: 1px solid #ccc; }
.detail_project .profile {
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px; }

.profile_change #avatar {
  width: 200px;
  height: 200px; }
  .profile_change #avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
.profile_change #cover {
  height: 200px;
  width: 100%; }
  .profile_change #cover img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.content-area {
  padding: 0 30px; }
  .content-area .date-message {
    position: relative; }
    .content-area .date-message span {
      background: #fff;
      padding: 2px 10px;
      position: relative; }
    .content-area .date-message:before {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      background: #ccc;
      left: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); }
  .content-area .avt {
    flex-shrink: 0; }
    .content-area .avt.w50 {
      width: 40px;
      height: 40px;
      border-radius: 5px;
      position: relative;
      overflow: hidden; }
    .content-area .avt img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .content-area .block-content {
    flex: 1 1 auto;
    line-height: 20px;
    min-width: 1px;
    word-wrap: break-word; }
    .content-area .block-content .like {
      clear: both;
      border-radius: 7px;
      border: 1px solid #00aeef;
      display: inline-block;
      padding: 1px 8px; }

.document-item {
  color: #58595b; }
  .document-item .icon {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    position: relative;
    overflow: hidden; }
    .document-item .icon img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .document-item .name {
    flex: 1 1 auto;
    line-height: 20px;
    min-width: 1px;
    word-wrap: break-word; }

.content-file {
  position: relative; }
  .content-file .title {
    padding: 0 10px; }
  .content-file .list-file {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .content-file .list-file .item-file {
      border: 1px solid #eee;
      border-radius: 10px;
      margin: 10px;
      -ms-flex: 0 0 calc(20% - 20px);
      flex: 0 0 calc(20% - 20px);
      max-width: calc(20% - 20px);
      position: relative;
      overflow: hidden; }
      .content-file .list-file .item-file a {
        display: block;
        padding-bottom: 100%;
        color: #000; }
      .content-file .list-file .item-file .dowload {
        position: absolute;
        right: 10px;
        top: 10px; }
      .content-file .list-file .item-file .icon {
        font-size: 50px;
        top: 50%;
        left: 50%;
        position: absolute;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
      .content-file .list-file .item-file .filename {
        bottom: 10px;
        position: absolute;
        left: 10px; }
      .content-file .list-file .item-file:hover a {
        color: #00aeef; }
  .content-file:before {
    position: absolute;
    content: "";
    width: 2px;
    height: 100%;
    background: #eee;
    left: -15px; }

.detail-task .avt {
  flex-shrink: 0; }
.detail-task .info {
  flex: 1 1 auto;
  line-height: 20px;
  min-width: 1px;
  word-wrap: break-word; }

.ml-custom {
  margin-left: calc(50px + 0.5rem); }

/*# sourceMappingURL=main.css.map */
